project:
  type: book
  output-dir: docs

book:
  title: "Principles of Scientific Writing"
  author: "Douglas Ezra Morrison"
  date: "9/19/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - defining-terms.qmd
    - citations-evidence.qmd
    - paper-organization.qmd
    - word-choice.qmd
    - conciseness.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      light: cosmo
      dark: darkly
  pdf:
    documentclass: scrreprt

editor: source

