---
name: Spellcheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    name: Spellcheck
    permissions:
      contents: read
    container:
      image: rocker/verse:latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run Spelling Check test
        uses: insightsengineering/r-spellcheck-action@v3.0.2
