name: Spellcheck

on:
  pull_request:
    paths:
      - '**/*.qmd'
      - '**/*.md'
  push:
    branches:
      - main
    paths:
      - '**/*.qmd'
      - '**/*.md'

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    name: Spellcheck
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run spellcheck
        uses: rojopolis/spellcheck-github-actions@0.40.0
        with:
          config_path: .spellcheck.yml
